<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite"  parallel="methods">
    <test name="backend">
        <classes>
            <class name="ru.csu.iit.backend.tests.ExampleTest"/>
        </classes>
    </test> <!-- backend -->
</suite> <!-- Default Suite -->